<div class="razor-rendered">
    <div>
      Rendered by Razor
    </div>
    <div>
      4 + 6 = @(4+6)
    </div>  
  </div>
<div id="addContainer" data-apibaseurl="http://localhost:5000" data-firstvalue="5" data-secondvalue="3">
</div>
<script src="~/js/chunk-vendors.js"></script>
<script src="~/js/add.js"></script>